* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
legend,
.button,
h2 {
  font-family: "Staatliches", cursive;
}

.page {
  width: 750px;
  margin: auto;
}

body {
  background: #e5e5e5;
}

body::before {
  position: absolute;
  width: 100%;
  height: 436px;
  left: 0px;
  top: -2px;
  background: #535971;
  z-index: -1;
  content: "";
}

h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  padding-bottom: 18px;
}

header {
  padding-top: 140px;
}

header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-bottom: 58px;
}

form {
  min-height: 300px;
  background: #ffffff;
  border-radius: 8px 8px 0 0;
  padding: 64px;
}

fieldset {
  border: none;
}

fieldset legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #535971;

  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6f0;
  margin-bottom: 36px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #535971;
  margin-bottom: 11px;
}

.input-wrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  display: flex;
  flex-direction: column;
}

.input-wrapper span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
}

.input-wrapper span:hover {
  color: #79787c;
}

.nomesobre {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

#first-name,
#last-name {
  width: 300px;
  margin-bottom: 19px;
}

#personal-email {
  margin-bottom: 19px;
}

#personal-password {
  margin-bottom: 30px;
}

#mentor-name {
  margin-bottom: 32px;
}

input {
  height: 56px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  margin-top: 8px;
  padding-left: 8px;
}

.first-mentor-date,
.second-mentor-date {
  display: flex;
  flex-direction: row;
}

#first-date {
  margin-bottom: 16px;
}

#first-date,
#second-date {
  width: 300px;
}

#first-beggin,
#first-end,
#second-beggin,
#second-end {
  width: 140px;
}

#first-beggin,
#second-beggin {
  margin-left: 32px;
  margin-right: 10px;
}

#time-information-gap {
  margin-left: 32px;
}

footer {
  background: #535971;
  border-radius: 0px 0px 20px 20px;
  height: 160px;
  width: auto;
}

.button {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 52px 76px;
  width: 608px;
  background: #ff5374;
  border-radius: 20px;
}

.button:hover {
  cursor: pointer;
}

input:invalid {
  border: 1px solid red;
}
